

$font-color: #fff;
$background-color: #272E3F;
$fog-color: #868D9A;
$night-color: #203455;
$mask-color: rgba(0, 0, 0, 0.1);
$button-color: transparent;
$bordercolor: lightgray;
$container-bgcolor: #f2f2f2;
$button-textcolor: #fff;
$shadowcolor: #fff;
$text-shadow-color: #000;
$fadecolor: rgba(255, 255, 255, 0.6);