
.searchBar {
    padding: 0.5rem 0.5rem 1.5rem;


    .searchBar_form {
        display: flex;
        justify-content: space-between;
        border: 2px solid $bordercolor;
        border-radius: 500px;

        .searchBar_text {
            flex-grow: 1;
            border: none;
            margin-right: .25rem;
            background-color: $button-color;
            color: $font-color;
            width: calc(100% - 52px);
            font-size: 1.25rem;
            padding: .75rem 0 0.75rem .75rem;
            outline: none;
        }

        .searchBar_text::placeholder {
            color: $fadecolor;
        }

        .searchBar_button {
            border: none;

            i {
                font-size: 1.7rem;
            }
        }

        .searchBar_button:hover,
        .searchBar_button:focus {
            border: none;
            box-shadow: none;
            text-shadow: 4px 2px 5px $text-shadow-color;
        }
    }

    .searchBar_form:focus-within,
    .searchBar_form:hover {
        box-shadow: 4px 2px 5px $text-shadow-color;
    }


}